# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Data cache (保留主要原始資料檔 Final Transactions.csv)
data/
*.tmp

# datasets
Final Transactions.csv

